# JetBrains IDE Setting
.idea
# Node Modules
node_modules
# Tauri build
dist
# Secrets
.env.sh
# wiki(Dev)
src/data/WIKI/Character/
src/data/WIKI/Weapon/
src/data/WIKI/GCG/
public/icon/talents/
public/icon/constellations/
