# JetBrains IDE Setting
.idea
# Visual Studio Code Setting
.vscode
# Tauri build
dist
src-tauri/target
# Pnpm
pnpm-lock.yaml
# Qodana
qodana.yaml
# sourse
*.webp
*.png
*.svg
# data
!src/data/**/*.json
src-tauri/gen/*.json
!eslint
