/*
 * 字体样式文件
 * @since v0.11.0
 */

@font-face {
  font-family: "Genshin"; /* stylelint-disable-line font-family-name-quotes */
  src: url("@/assets/fonts/zh-cn.ttf") format("truetype");
}

@font-face {
  font-family: "Genshin-Light"; /* stylelint-disable-line font-family-name-quotes */
  src: url("@/assets/fonts/HYWenHei-55W.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrians mono";
  src: url("@/assets/fonts/JetBrainsMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrians mono Bold";
  src: url("@/assets/fonts/JetBrainsMono-Bold.ttf") format("truetype");
}
