/*
 * @file assets/fonts/index.scss
 * @description 字体样式文件
 * @since v0.7.7-beta
 */

@font-face {
  font-family: "Genshin";
  src: url("@/assets/fonts/汉仪文黑-85W.ttf") format("truetype");
}

@font-face {
  font-family: "Genshin-Light";
  src: url("@/assets/fonts/汉仪文黑-55W.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrians mono";
  src: url("@/assets/fonts/JetBrainsMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrians mono Bold";
  src: url("@/assets/fonts/JetBrainsMono-Bold.ttf") format("truetype");
}
