/*
 * @file assets/css/post-parser.css
 * @description 游戏公告解析 css
 * @since Beta v0.5.0
 */

.anno-body {
  width: 800px;
  margin: 0 auto;
  font-family: var(--font-text);
}

.anno-title,
.anno-subtitle {
  color: var(--common-text-title);
  font-family: var(--font-title);
}

.anno-title {
  font-size: 20px;
}

.anno-subtitle {
  font-size: 16px;
  opacity: 0.6;
}

.anno-img {
  width: 800px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 10px auto;
}

.anno-content {
  line-height: 2;
}

.anno-content :deep(a) {
  color: #00c3ff;
  cursor: pointer;
  text-decoration: underline solid #00c3ff;
  text-underline-position: under;
  transform: translateY(2px);
}

.anno-content :deep(p) {
  line-height: 2;
}

.anno-content :deep(details) {
  padding: 10px;
  border: 1px var(--common-shadow-2) solid;
  border-radius: 10px;
  margin: 10px;
}

.anno-content :deep(details) div {
  margin-left: 10px;
}

.anno-content :deep(details) ::marker {
  color: var(--tgc-pink-1);
  content: "✧";
}

.anno-content :deep(ol) {
  list-style: "✧";
}

.anno-content :deep(td) {
  padding-left: 10px;
  line-height: 2;
}
