/*
 * @file assets css post-parser.css
 * @description 米游社解析 css
 * @todo 需要完善
 * @since Beta v0.3.3
 */

.mys-post-body {
  width: 800px;
  margin: 0 auto;
  font-family: var(--font-text);
}

.mys-post-title {
  color: var(--common-text-title);
  font-family: var(--font-title);
  font-size: 20px;
}

.mys-post-subtitle {
  font-size: 16px;
  opacity: 0.6;
}

.mys-post-content {
  line-height: 2;
}

:deep(.mys-post-div) {
  position: relative;
  margin: 10px auto;
}

:deep(.mys-post-span) {
  line-height: 2;
}

:deep(.mys-post-link) {
  color: #00c3ff;
  text-decoration: none;
}

:deep(.mys-post-details) {
  padding: 10px;
  border: #35acce 2px solid;
  border-radius: 10px;
}

:deep(.mys-post-details) ::marker {
  color: #35acce;
  content: "✧";
}

:deep(.mys-post-divider) {
  margin: 10px auto;
}

:deep(.mys-post-divider) img {
  width: 800px;
  height: auto;
}

:deep(.mys-post-img) {
  width: 800px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

:deep(.mys-post-vod) {
  width: 800px;
  height: 450px;
  border-radius: 10px;
}

:deep(.mys-post-vod-cover-div) {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 800px;
  height: 450px;
  border-radius: 10px;
}

:deep(.mys-post-vod-cover) {
  width: 800px;
  height: 450px;
  border-radius: 10px;
}

:deep(.mys-post-vod-icon) {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 50px;
  line-height: 80px;
  text-align: center;
}

:deep(.mys-post-iframe) {
  overflow: hidden;
  width: 800px;
  height: 450px;
  border: 0;
  border-radius: 10px;
}

:deep(.mys-post-link-card) {
  display: flex;
  width: 800px;
  height: 200px;
  padding: 10px;
  border: 1px solid var(--common-shadow-1);
  border-radius: 10px;
  background: var(--box-bg-1);
  gap: 10px;
}

:deep(.mys-post-unknown) {
  width: 800px;
  padding: 10px;
  border: 2px solid #485466;
  border-radius: 10px;
  margin: 10px auto;
  background: #5b738f;
  color: #faf7e8;
  font-family: Consolas, monospace;
}

:deep(.mys-post-link-card-cover) {
  width: auto;
  height: 180px;
  border-radius: 10px;
}

:deep(.mys-post-link-card-cover) img {
  width: auto;
  max-width: 400px;
  height: 180px;
  border-radius: 10px;
  transition: all 0.5s;
}

:deep(.mys-post-link-card-cover):hover img {
  transform: scale(1.05);
  transition: all 0.5s;
}

:deep(.mys-post-link-card-content) {
  display: flex;
  width: 100%;
  height: 180px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

:deep(.mys-post-link-card-title) {
  color: var(--common-text-title);
  font-family: var(--font-title);
  font-size: 20px;
}

:deep(.mys-post-link-card-price) {
  display: inline-block;
  color: #ff6d6d;
  font-size: 20px;
  font-weight: bold;
}

:deep(.mys-post-link-card-btn) {
  display: inline-block;
  margin-left: auto;
  color: #00c3ff;
  text-align: right;
  text-decoration: none;
}

:deep(.mys-post-emoji) {
  width: 45px;
  height: 45px;
  margin: 0 5px;
}
