/*
 * @file assets css post-parser.css
 * @description 米游社解析 css
 * @todo 需要完善
 * @since Beta v0.3.3
 */

.mys-post-body {
  width: 800px;
  margin: 0 auto;
  font-family: var(--font-text);
}

.mys-post-title {
  color: var(--common-text-title);
  font-family: var(--font-title);
  font-size: 20px;
}

.mys-post-subtitle {
  font-size: 16px;
  opacity: 0.6;
}

.mys-post-content {
  line-height: 2;
}

:deep(.mys-post-div) {
  position: relative;
  margin: 10px auto;
}

:deep(.mys-post-span) {
  line-height: 2;
}

:deep(.mys-post-link) {
  color: #00c3ff;
  text-decoration: none;
}

:deep(.mys-post-details) {
  padding: 10px;
  border: #35acce 2px solid;
  border-radius: 10px;
}

:deep(.mys-post-details) ::marker {
  color: #35acce;
  content: "✧";
}

:deep(.mys-post-divider) {
  margin: 10px auto;
}

:deep(.mys-post-divider) img {
  width: 800px;
  height: auto;
}

:deep(.mys-post-img) {
  width: 800px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

:deep(.mys-post-vod) {
  width: 800px;
  height: 450px;
  border-radius: 10px;
}

:deep(.mys-post-vod-cover-div) {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 800px;
  height: 450px;
  border-radius: 10px;
}

:deep(.mys-post-vod-cover) {
  width: 800px;
  height: 450px;
  border-radius: 10px;
}

:deep(.mys-post-vod-icon) {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  font-size: 50px;
  line-height: 80px;
  text-align: center;
}

:deep(.mys-post-vod-time) {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-family: var(--font-title);
  font-size: 12px;
}

:deep(.mys-post-iframe) {
  overflow: hidden;
  width: 800px;
  height: 450px;
  border: 0;
  border-radius: 10px;
}

:deep(.mys-post-link-card) {
  display: flex;
  width: 800px;
  height: 200px;
  padding: 10px;
  border: 1px solid var(--common-shadow-1);
  border-radius: 10px;
  background: var(--box-bg-1);
  gap: 10px;
}

:deep(.mys-post-link-card-cover) {
  width: auto;
  height: 180px;
  border-radius: 10px;
}

:deep(.mys-post-link-card-cover) img {
  width: auto;
  max-width: 400px;
  height: 180px;
  border-radius: 10px;
  transition: all 0.5s;
}

:deep(.mys-post-link-card-cover):hover img {
  transform: scale(1.05);
  transition: all 0.5s;
}

:deep(.mys-post-link-card-content) {
  display: flex;
  width: 100%;
  height: 180px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

:deep(.mys-post-link-card-title) {
  color: var(--common-text-title);
  font-family: var(--font-title);
  font-size: 20px;
}

:deep(.mys-post-link-card-price) {
  display: inline-block;
  color: #ff6d6d;
  font-size: 20px;
  font-weight: bold;
}

:deep(.mys-post-link-card-btn) {
  display: inline-block;
  margin-left: auto;
  color: #00c3ff;
  text-align: right;
  text-decoration: none;
}

/* 表情包 */
:deep(.mys-post-emoji) {
  width: 45px;
  height: 45px;
  margin: 0 5px;
}

/* 大别野卡片 */
:deep(.mys-post-villa-card) {
  position: relative;
  overflow: hidden;
  width: 800px;
  border: 1px solid var(--common-shadow-2);
  border-radius: 10px;
}

:deep(.mys-post-villa-card-bg) {
  position: absolute;
  top: -40px;
  right: 0;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

:deep(.mys-post-villa-card-bg-before) {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0) 40px, var(--box-bg-1) 140px);
}

:deep(.mys-post-villa-card-flex) {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
}

:deep(.mys-post-villa-card-top) {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

:deep(.mys-post-villa-card-icon) {
  width: 80px;
  height: 80px;
  border-radius: 5px;
}

:deep(.mys-post-villa-card-content) {
  display: flex;
  height: 80px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

:deep(.mys-post-villa-card-title) {
  padding: 0 5px;
  border-radius: 5px;
  backdrop-filter: blur(5px);
  background: var(--common-shadow-t-4);
  color: var(--common-text-title);
  font-family: var(--font-title);
  font-size: 20px;
}

:deep(.mys-post-villa-card-desc) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 5px;
  border-radius: 5px;
  backdrop-filter: blur(5px);
  background: var(--common-shadow-t-2);
  gap: 5px;
}

:deep(.mys-post-villa-card-desc-icon) {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

:deep(.mys-post-villa-card-desc-text) {
  color: var(--common-text-content);
  font-family: var(--font-text);
  font-size: 14px;
}

:deep(.mys-post-villa-card-mid) {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

:deep(.mys-post-villa-card-tag) {
  padding: 2px 5px;
  border-radius: 5px;
  background: var(--box-bg-2);
  color: var(--box-text-2);
  font-family: var(--font-text);
  font-size: 12px;
}

:deep(.mys-post-villa-card-bottom) {
  width: 100%;
  font-family: var(--font-title);
  font-size: 20px;
  text-align: left;
}

/* 未知类型 */
:deep(.mys-post-unknown) {
  width: 800px;
  padding: 10px;
  border: 1px solid var(--common-shadow-2);
  border-radius: 10px;
  background: var(--box-bg-1);
  color: var(--common-text-content);
}

:deep(.mys-post-unknown-code) {
  font-family: var(--font-text);
  white-space: pre-wrap;
  word-break: break-all;
}
