/**
 * GitHub styles
 * @since Beta v0.9.0
 */

/* Card，传入theme参数 */
@mixin github-card($theme: "default") {
  @include github-card-shadow($theme);

  @if $theme == "default" {
    border: 1px solid #d1d9e0ff;
    background: #ffffffff;
  } @else {
    border: 1px solid #3d444dff;
    background: #0d1117ff;
  }
}

/* CardShadow，传入theme参数 */
@mixin github-card-shadow($theme: "default") {
  @if $theme == "default" {
    box-shadow:
      #1f23280f 0 1px 1px 0,
      #1f23280f 0 1px 3px 0;
  } @else {
    box-shadow:
      #01040999 0 1px 1px 0,
      #01040999 0 1px 3px 0;
  }
}

/* Btn，传入theme参数 */
@mixin github-btn($theme: "default") {
  @if $theme == "default" {
    border: 1px solid #d1d9e0ff;
    background: #f6f8faff;
  } @else {
    border: 1px solid #3d444dff;
    background: #212830ff;
  }
}

/* tags，深色主题 */
@mixin github-tag-dark-gen($color: #548af7) {
  border: 1px solid color-mix(in srgb, $color 30%, transparent);
  background: color-mix(in srgb, $color 18%, transparent);
  color: $color;
}
