/**
 * @file styles/github.styles.scss
 * @description GitHub styles
 * @since Beta v0.7.2
 */

/* Card，传入theme参数 */
@mixin github-card($theme: 'default') {
  @if $theme == 'default' {
    background: #ffffff;
    border: 1px solid #d1d9e0;
    box-shadow: rgba(31, 35, 40, 0.06) 0 1px 1px 0, rgba(31, 35, 40, 0.06) 0 1px 3px 0;
  } @else {
    background: #0d1117;
    border: 1px solid #3d444d;
    box-shadow: rgba(1, 4, 9, 0.6) 0 1px 1px 0, rgba(1, 4, 9, 0.6) 0 1px 3px 0;
  }
}

/* Btn，传入theme参数 */
@mixin github-btn($theme: 'default') {
  @if $theme == 'default' {
    background: #f6f8fa;
    border: 1px solid #d1d9e0;
  } @else {
    background: #212830;
    border: 1px solid #3d444d;
  }
}

/* tags，深色主题 */
@mixin github-tag-dark-gen($color: #548af7) {
  background: rgba($color, .18);
  border: 1px solid rgba($color, .3);
  color: $color;
}