/**
 * @file assets themes light.css
 * @description 主题样式文件
 * @author BTMuli <bt-muli@outlook.com>
 * @since Alpha v0.2.0
 */

/* 主题色 */
html.dark {
  --common-bg: rgb(255 255 255 / 10%);
  --common-bg-2: rgb(255 255 255 / 20%);
  --common-bg-4: rgb(255 255 255 / 40%);
  --common-bg-8: rgb(255 255 255 / 80%);

  --common-text: var(--common-color-white); /* title */
  --common-text-2: var(--common-color-white); /* text */
  --common-text-3: var(--common-color-grey); /* quote */

  --sidebar-bg: #1e1e1e;
  --sidebar-icon: #e1e1e1;
  --page-bg:#2a2a2a;
  --scroll-bg: rgba(0, 0, 0, 0.5);
  --calendar-btn-bg: #1e1e1e;
  --back-top-shadow: #000000;
  --theme-switch-icon: #e1e1e1;
  --post-default-text: #faf7e8;
  --calendar-item-btn: #faf7e8;

  --content-bg-1: #1e1e1e;
  --content-bg-2: #393b40;
  --content-bg-3: #2a2a2a;
  --content-text-1: #1e1e1e;
  --content-text-2: #faf7e8;
  --content-text-3: #e1e1e1;
  
  --btn-bg-1: #3b3d3b;
  --btn-bg-2: #e1e1e1;
  --btn-bg-3: #1e1e1e;
  --btn-text-1: #393b40;

  --card-text-1: #393b40;
}