/**
 * @file assets themes light.css
 * @description 主题样式文件
 * @author BTMuli<bt-muli@outlook.com>
 * @since Alpha v0.1.5
 */

/* 主题色 */
html.dark {
  --sidebar-bg: #1e1e1e;
  --sidebar-icon: #e1e1e1;
  --page-bg:#2a2a2a;
  --scroll-bg: rgba(0, 0, 0, 0.5);
  --calendar-btn-bg: #1e1e1e;
  --back-top-shadow: #000000;
  --theme-switch-icon: #e1e1e1;
  --post-default-text: #faf7e8;
  --calendar-item-btn: #faf7e8;

  --content-bg-1: #1e1e1e;
  --content-bg-2: #393b40;
  --content-bg-3: #2a2a2a;
  --content-text-1: #1e1e1e;
  --content-text-2: #faf7e8;
  --content-text-3: #e1e1e1;
  
  --btn-bg-1: #3b3d3b;
  --btn-bg-2: #e1e1e1;
  --btn-bg-3: #1e1e1e;
  --btn-text-1: #393b40;

  --card-text-1: #393b40;
}