/**
 * 主题样式文件-深色主题
 * @since v0.8.9
 */

/* dark mode */

html.dark {
  /* app container */
  --app-page-bg: #1e1e1eff; /* (0, 0, 0) */
  --app-page-content: #d0d0d0ff;
  --app-side-bg: #151c26ff;
  --app-side-content: #ddddddff;

  /* box container */
  --box-bg-1: #21252bff;
  --box-bg-2: #323844ff;
  --box-bg-3: #282c34ff;
  --box-bg-4: #3d424bff;
  --box-bg-blue: var(--tgc-blue-1);

  /* box bg transparent */
  --box-bg-t-1: var(--tgc-white-3);

  /* text */
  --box-text-1: var(--tgc-white-1);
  --box-text-2: var(--tgc-white-2);
  --box-text-3: var(--tgc-blue-1);
  --box-text-4: var(--tgc-white-4);
  --box-text-5: var(--tgc-red-1);
  --box-text-7: var(--tgc-white-5);
  --box-text-8: var(--tgc-yellow-1);

  /* button */
  --btn-text: var(--tgc-yellow-1);

  /* box-shadow */
  --common-shadow-1: #ffffff1a;
  --common-shadow-2: #ffffff33;
  --common-shadow-4: #ffffff66;
  --common-shadow-8: #ffffffcc;

  /* box-shadow-transparent */
  --common-shadow-t-1: #0000001a;
  --common-shadow-t-2: #00000033;
  --common-shadow-t-4: #00000066;
  --common-shadow-t-8: #000000cc;

  /* text */
  --common-text-title: var(--tgc-yellow-2); /* title，米色 */
}
