/**
 * @file assets themes light.css
 * @description 主题样式文件
 * @author BTMuli <bt-muli@outlook.com>
 * @since Alpha v0.2.1
 */

/* 主题色 */
html.dark {
  /* box-shadow */
  --common-shadow-1: rgb(255 255 255 / 10%);
  --common-shadow-2: rgb(255 255 255 / 20%);
  --common-shadow-4: rgb(255 255 255 / 40%);
  --common-shadow-8: rgb(255 255 255 / 80%);

  /* box bg */
  --common-bg-1: #3d424b; /* 一级背景色 */
  --common-bgt-1: #faf7e8; /* 一级背景色对应的文本色 */
  --common-bg-2: #3b3d3b; /* button 背景色 */
  --common-bgt-2: #faf7e8; /* button 背景色对应的文本色 */

  /* text */
  --common-text-title: var(--common-color-white); /* title */
  --common-text-content: var(--common-color-white); /* text */
  --common-text-quote: var(--common-color-grey); /* quote */

  --calendar-btn-bg: #1e1e1e;
  --back-top-shadow: #000000;
  --theme-switch-icon: #e1e1e1;
  --post-default-text: #faf7e8;

  --content-bg-2: #393b40;
  --content-bg-3: #2a2a2a;

  --content-text-2: #faf7e8;
  --content-text-3: #e1e1e1;

  --btn-bg-1: #3b3d3b;
  --btn-bg-2: #e1e1e1;
  --btn-bg-3: #1e1e1e;
  --btn-text-1: #393b40;
}
