/**
 * @file assets/themes/dark.css
 * @description 主题样式文件-深色主题
 * @since Beta v0.4.5
 */

/* dark mode */
html.dark {
  /* app container */
  --app-page-bg: #1e1e1e; /* (0, 0, 0) */
  --app-page-content: #d0d0d0;
  --app-side-bg: #151c26;
  --app-side-content: #dddddd;

  /* box container */
  --box-bg-1: #21252b;
  --box-bg-2: #323844;
  --box-bg-3: #282c34;
  --box-bg-4: #3d424b;

  --box-bg-blue: var(--tgc-blue-1);

  /* box bg transparent */
  --box-bg-t-1: var(--tgc-white-3);

  /* text */
  --box-text-1: var(--tgc-white-1);
  --box-text-2: var(--tgc-white-2);
  --box-text-3: var(--tgc-blue-1);
  --box-text-4: var(--tgc-white-4);
  --box-text-5: var(--tgc-red-1);
  --box-text-7: var(--tgc-white-5);

  /* button */
  --btn-text: var(--tgc-yellow-1);
  --btn-bg-1: var(--tgc-dark-5);
  --btn-text-1: var(--tgc-yellow-1);

  /* box-shadow */
  --common-shadow-1: rgb(255 255 255 / 10%);
  --common-shadow-2: rgb(255 255 255 / 20%);
  --common-shadow-4: rgb(255 255 255 / 40%);
  --common-shadow-8: rgb(255 255 255 / 80%);

  /* box-shadow-transparent */
  --common-shadow-t-1: rgb(0 0 0 / 10%);
  --common-shadow-t-2: rgb(0 0 0 / 20%);
  --common-shadow-t-4: rgb(0 0 0 / 40%);
  --common-shadow-t-8: rgb(0 0 0 / 80%);

  /* text */
  --common-text-title: var(--tgc-yellow-2); /* title，米色 */
}
