/**
 * @file assets themes dark.css
 * @description 主题样式文件
 * @author BTMuli <bt-muli@outlook.com>
 * @since Alpha v0.2.1
 */

/* 主题色 */
html.default {
  /* box-shadow */
  --common-shadow-1: rgb(0 0 0 / 10%);
  --common-shadow-2: rgb(0 0 0 / 20%);
  --common-shadow-4: rgb(0 0 0 / 40%);
  --common-shadow-8: rgb(0 0 0 / 80%);

  /* box bg */
  --common-bg-1: #faf7e8; /* 一级背景色 */
  --common-bgt-1: #3d424b; /* 一级背景色对应的文本色 */

  /* button */
  --common-btn-bg-1: #fec90b; /* button 背景色 */
  --common-btn-bgt-1: #5b738f; /* button 背景色对应的文本色 */
  --common-btn-bg-2: #e1d8c6; /* button 背景色 */
  --common-btn-bgt-2: #495366; /* button 背景色对应的文本色 */

  --common-text-title: #393b40; /* title */
  --common-text-content: var(--common-color-blue-2); /* text */
  --common-text-quote: var(--common-color-blue-3); /* quote */

  --calendar-btn-bg: #393b40;
  --back-top-shadow: #546d8b;
  --theme-switch-icon: #393b40;
  --post-default-text: #1e1e1e;

  --content-bg-2: #faf7e8;
  --content-bg-3: #5b738f;

  --content-text-2: #393b40;
  --content-text-3: #546d8b;

  --btn-bg-1: #fec90b;
  --btn-bg-2: #4a5366;
  --btn-bg-3: #546d8b;
  --btn-text-1: #faf7e8;
}
