/**
 * @file assets/themes/default.css
 * @description 主题样式文件-默认（浅色）主题
 * @since Beta v0.7.2
 */

/* default(light) theme */

html.default {
  /* app container */
  --app-page-bg: #ffffffff;
  --app-page-content: #2f2f2fff;
  --app-side-bg: #f2f2f2ff;
  --app-side-content: #222222ff;

  /* box container */
  --box-bg-1: #f9f6f2ff;
  --box-bg-2: #f2f9f6ff;
  --box-bg-3: #dee4e9ff;
  --box-bg-4: #f5f5f5ff;
  --box-bg-blue: #249ffdff;

  /* box bg transparent */
  --box-bg-t-1: var(--tgc-dark-5);

  /* box text */
  --box-text-1: var(--tgc-dark-5); /* with box-bg-1 */
  --box-text-2: var(--tgc-dark-2);
  --box-text-3: var(--tgc-blue-2);
  --box-text-4: var(--tgc-blue-3); /* subtitle */
  --box-text-5: var(--tgc-pink-1); /* tag */
  --box-text-7: var(--tgc-dark-7); /* quote */

  /* button */
  --btn-text: var(--tgc-yellow-2); /* with tgc-btn-1 */

  /* box-shadow */
  --common-shadow-1: #0000001a;
  --common-shadow-2: #00000033;
  --common-shadow-4: #00000066;
  --common-shadow-8: #000000cc;

  /* box-shadow-transparent */
  --common-shadow-t-1: #ffffff1a;
  --common-shadow-t-2: #ffffff33;
  --common-shadow-t-4: #ffffff66;
  --common-shadow-t-8: #ffffffcc;

  /* common text color */
  --common-text-title: var(--tgc-dark-8); /* title */
}
