/**
 * @file assets themes default.css
 * @description 主题样式文件-默认（浅色）主题
 * @author BTMuli <bt-muli@outlook.com>
 * @since Beta v0.3.0
 */

/* default(light) theme */
html.default {
  /* app container */
  --app-page-bg: var(--tgc-white-1);
  --app-page-content: var(--tgc-dark-5); /* todo 这边直接反色，需要调整 */
  --app-side-bg: var(--tgc-white-5);
  --app-side-content: var(--tgc-dark-4);

  /* box container */
  --box-bg-1: var(--tgc-white-3);
  --box-bg-2: var(--tgc-white-7);
  --box-bg-3: var(--tgc-white-9);
  --box-bg-4: var(--tgc-white-1);

  /* box bg transparent */
  --box-bg-t-4: var(--tgc-dark-7);

  /* box text */
  --box-text-1: var(--tgc-dark-5);
  --box-text-2: var(--tgc-dark-2);
  --box-text-3: var(--tgc-blue-2);
  --box-text-4: var(--tgc-blue-3);
  --box-text-5: var(--tgc-yellow-2);

  /* box-shadow */
  --common-shadow-1: rgb(0 0 0 / 10%);
  --common-shadow-2: rgb(0 0 0 / 20%);
  --common-shadow-4: rgb(0 0 0 / 40%);
  --common-shadow-8: rgb(0 0 0 / 80%);

  /* box-shadow-transparent */
  --common-shadow-t-1: rgb(255 255 255 / 10%);
  --common-shadow-t-2: rgb(255 255 255 / 20%);
  --common-shadow-t-4: rgb(255 255 255 / 40%);
  --common-shadow-t-8: rgb(255 255 255 / 80%);

  /* button */
  --common-btn-bg-1: #fec90b; /* button 背景色 */
  --common-btn-bgt-1: #5b738f; /* button 背景色对应的文本色 */
  --common-btn-bg-2: #e1d8c6; /* button 背景色 */
  --common-btn-bgt-2: #495366; /* button 背景色对应的文本色 */

  --common-text-title: #393b40; /* title */
  --common-text-content: var(--common-color-blue-2); /* text */
  --common-text-quote: var(--common-color-blue-3); /* quote */

  --calendar-btn-bg: #393b40;
  --back-top-shadow: #546d8b;
  --theme-switch-icon: #393b40;
  --post-default-text: #1e1e1e;

  --content-bg-2: #faf7e8;
  --content-bg-3: #5b738f;

  --content-text-2: #393b40;
  --content-text-3: #546d8b;

  --btn-bg-1: #fec90b;
  --btn-bg-2: #4a5366;
  --btn-bg-3: #546d8b;
  --btn-text-1: #faf7e8;
}
