/**
 * @file assets themes dark.css
 * @description 主题样式文件
 * @author BTMuli<bt-muli@outlook.com>
 * @since Alpha v0.1.4
 */

/* 主题色 */
html.default {
  --sidebar-bg: #485466;
  --sidebar-icon: #ece5d8;
  --page-bg:#ece5d8;
  --scroll-bg: #2A2A2A;
  --calendar-btn-bg: #393b40;
  --back-top-shadow: #546d8b;
  --theme-switch-icon: #393b40;
  --post-default-text: #1e1e1e;

  --content-bg-1: #546d8b;
  --content-bg-2: #faf7e8;
  --content-bg-3: #5b738f;
  --content-text-1: #fec90b;
  --content-text-2: #393b40;
  --content-text-3: #546d8b;

  --btn-bg-1: #fec90b;
  --btn-bg-2: #4a5366;
  --btn-bg-3: #546d8b;
  --btn-text-1: #faf7e8;

  --card-text-1: #485466;
}