/**
 * @file assets/themes/default.css
 * @description 主题样式文件-默认（浅色）主题
 * @since Beta v0.4.5
 */

/* default(light) theme */
html.default {
  /* app container */
  --app-page-bg: #ffffff;
  --app-page-content: #2f2f2f;
  --app-side-bg: #f2f2f2;
  --app-side-content: #222222;

  /* box container */
  --box-bg-1: #f9f6f2;
  --box-bg-2: #f2f9f6;
  --box-bg-3: #dee4e9;
  --box-bg-4: #f5f5f5;

  --box-bg-blue: #249ffd;

  /* box bg transparent */
  --box-bg-t-1: var(--tgc-dark-5);

  /* box text */
  --box-text-1: var(--tgc-dark-5); /* with box-bg-1 */
  --box-text-2: var(--tgc-dark-2);
  --box-text-3: var(--tgc-blue-2);
  --box-text-4: var(--tgc-blue-3); /* subtitle */
  --box-text-5: var(--tgc-pink-1); /* tag */
  --box-text-7: var(--tgc-dark-7); /* quote */

  /* button */
  --btn-text: var(--tgc-yellow-2); /* with tgc-btn-1 */
  --btn-bg-1: var(--tgc-yellow-1);
  --btn-text-1: var(--tgc-blue-1);

  /* box-shadow */
  --common-shadow-1: rgb(0 0 0 / 10%);
  --common-shadow-2: rgb(0 0 0 / 20%);
  --common-shadow-4: rgb(0 0 0 / 40%);
  --common-shadow-8: rgb(0 0 0 / 80%);

  /* box-shadow-transparent */
  --common-shadow-t-1: rgb(255 255 255 / 10%);
  --common-shadow-t-2: rgb(255 255 255 / 20%);
  --common-shadow-t-4: rgb(255 255 255 / 40%);
  --common-shadow-t-8: rgb(255 255 255 / 80%);

  /* common text color */
  --common-text-title: var(--tgc-dark-8); /* title */
}
