name: Publish Release
on:
  push:
    tags:
      - v*
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag to release"
        required: false

jobs:
  publish-tauri:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        settings:
          - platform: windows-latest
            args: "--verbose"
            target: "windows"
          - platform: macos-latest
            args: "--target x86_64-apple-darwin"
            target: "macos-intel"
          - platform: macos-latest
            args: "--target aarch64-apple-darwin"
            target: "macos-arm"
    runs-on: ${{ matrix.settings.platform }}
    env:
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      APP_VERSION: ${{ github.sha }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" | tr -d '\r' > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
      - name: Add Github RSA
        run: |
          echo "${{ secrets.KNOWN_GITHUB_RSA }}" >> ~/.ssh/known_hosts
          chmod 644 ~/.ssh/known_hosts
      - name: Test SSH connection
        run: ssh -T git@github.com || true
      - name: Load env.production
        id: env
        if: matrix.settings.target == 'windows'
        run: |
          $VITE_SENTRY_RELEASE = Get-Content .env.production | Where-Object { $_ -match '^VITE_SENTRY_RELEASE=' } | ForEach-Object { ($_ -split '=')[1] }
      - name: Rust setup
        uses: dtolnay/rust-toolchain@stable
      - name: Rust cache
        uses: swatinem/rust-cache@v2
        with:
          workspaces: "./src-tauri -> target"

      - name: Add Rust targets(macOS Intel)
        if: matrix.settings.target == 'macos-intel'
        run: rustup target add x86_64-apple-darwin
      - name: Add Rust targets(macOS ARM)
        if: matrix.settings.target == 'macos-arm'
        run: rustup target add aarch64-apple-darwin
      - name: Output toolchain
        run: rustup show
      - name: Add Offset Conf
        run: echo '${{ secrets.YAE_CONF }}' | jq -c . > ./src-tauri/lib/conf.json
      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: 24.8.0
      - name: setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10.23.0
      - name: Install frontend dependencies
        run: pnpm install
      - name: Setup sentry-cli
        run: npm install -g @sentry/cli

      - name: Build app
        uses: tauri-apps/tauri-action@dev
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: ${{ matrix.settings.args }}
          tagName: v__VERSION__ # the action automatically replaces \_\_VERSION\_\_ with the app version
          releaseName: v__VERSION__-beta
          releaseBody: |
            > [!TIP]
            > Windows 平台用户建议通过微软应用商店下载，macOS 平台仅在此发布，Linux 平台暂不支持。
            > 如有使用问题可加入 [反馈QQ群](https://qm.qq.com/q/hUxIfSWluo)
            > MacOS 用户参考 [安装指南](https://github.com/BTMuli/TeyvatGuide/blob/master/docs/macos-gatekeeper/README.md)

            <a href="https://apps.microsoft.com/store/detail/9NLBNNNBNSJN?launch=true&cid=BTMuli&mode=mini">
              <img src="https://get.microsoft.com/images/zh-cn%20dark.svg" alt="download"/>
            </a>
          releaseDraft: true
          prerelease: false

      - name: Upload Sentry Pdb
        if: matrix.settings.target == 'windows'
        run: |
          echo "Uploading release: $SENTRY_RELEASE"
          sentry-cli releases new "$SENTRY_RELEASE"
          sentry-cli upload-dif src-tauri/target/release/TeyvatGuide.pdb
          sentry-cli releases finalize "$SENTRY_RELEASE"
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_RELEASE: ${{ steps.env.outputs.VITE_SENTRY_RELEASE }}
