name: Qodana
on:
  push:
    branches:
      - master

jobs:
  qodana:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: 21.4.0
      - name: setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8.15.6
      - name: remove lockfile
        run: rm -f pnpm-lock.yaml
      - name: Install dependencies
        run: pnpm install
      - name: "Qodana Scan"
        uses: JetBrains/qodana-action@v2023.3
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
